# shellcheck disable=all

# >>> scala venv setup >>>
source "$HOME/.update_system.sh"
test -f "\$SOURCE/$name;format="lower,word"$/.envrc.extension" && source "\$SOURCE/$name;format="lower,word"$/.envrc.extension"
:
# <<< scala venv setup <<<
